.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header{
  background-color: rgb(15, 163, 15);
  display: flex;
  align-self: center;
  padding-left: 45%;
}





